# SHAP feature selection #
## Code to select feature with combination of LightGBM and SHAP ##

## Parameters cell ##

Parameters are overiddent by papermill when run inside DVC stages

In [8]:
number_of_folds = 5 # this sets global setting of which how many bootstraps to use
repeats = 10
#first round of optimization
lgb_params = {
 "objective": "regression",
 'boosting_type': 'gbdt', 
 'metric': ['mae','mse', 'huber'],
 'lambda_l1': 0.03674546022666247, 
 'lambda_l2': 2.5025758383109715, 
 'max_leaves': 22,
 'max_depth': 6, 
 'feature_fraction': 0.741996402547356, 
 'bagging_fraction': 0.8929839112500518, 
 'learning_rate': 0.0892243160116563, 
 'min_data_in_leaf': 5, 
 'drop_rate': 0.14842616274718734    
}

debug_local = True #to use local version

In [9]:
from pathlib import Path
import sys
import inspect

local = (Path("..") / "yspecies").resolve()
if debug_local and local.exists():
  sys.path.insert(0, Path("..").as_posix())
  #sys.path.insert(0, local.as_posix())
  print("extending pathes with local yspecies")
  print(sys.path)
  %load_ext autoreload
  %autoreload 2

extending pathes with local yspecies
['..', '..', '/data/sources/yspecies/notebooks', '/opt/miniconda3/envs/yspecies/lib/python38.zip', '/opt/miniconda3/envs/yspecies/lib/python3.8', '/opt/miniconda3/envs/yspecies/lib/python3.8/lib-dynload', '', '/opt/miniconda3/envs/yspecies/lib/python3.8/site-packages', '/opt/miniconda3/envs/yspecies/lib/python3.8/site-packages/IPython/extensions', '/home/antonkulaga/.ipython']
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
from dataclasses import dataclass, replace
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
from typing import *
from yspecies.dataset import *
from yspecies.utils import *
from yspecies.workflow import TupleWith, Repeat
from yspecies.config import *
from yspecies.preprocess import FeatureSelection, DataExtractor
from yspecies.partition import DataPartitioner, PartitionParameters
from yspecies.models import Metrics
from yspecies.selection import ShapSelector

In [12]:
#settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
import pprint
pp = pprint.PrettyPrinter(indent=4)

#charts settings
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
%matplotlib auto
plt.ioff()
set_matplotlib_formats('svg')

Using matplotlib backend: TkAgg

### Loading data ###
Let's load data from species/genes/expressions selected by select_samples.py notebook

In [13]:
from pathlib import Path
locations: Locations = Locations("./") if Path("./data").exists() else Locations("../")

In [14]:
data = ExpressionDataset.from_folder(locations.interim.selected)
data

## Setting up SHAP selection pipeline ##

Deciding on selection parameters (which fields to include, exclude, predict)

In [15]:
partition_params = PartitionParameters(number_of_folds, 0, 2, [],  42)

In [16]:
partition_shap_pipe = Pipeline([
    ("partitioner", DataPartitioner()),
    ('prepare_for_partitioning', TupleWith(lgb_params)),
    ("shap_computation", ShapSelector())
]
)
repeated_cv =  Repeat(partition_shap_pipe, repeats, lambda x,i: (x[0], replace(x[1], seed = i)))

In [17]:
selection_pipeline =  Pipeline([
    ('extractor', DataExtractor()),
    ('prepare_for_partitioning', TupleWith(partition_params)), # to extract the data required for ML from the dataset
    ("partition_shap", repeated_cv)]
    )

## Setting up features to select ##

In [18]:
selection = select_lifespan = FeatureSelection(
    samples = ["tissue","species"], #samples metadata to include
    species =  [], #species metadata other then Y label to include
    exclude_from_training = ["species"],  #exclude some fields from LightGBM training
    to_predict = "lifespan", #column to predict
    categorical = ["tissue"])

In [19]:
select_lifespan = selection
select_mass = replace(selection, to_predict = "mass_g")
select_gestation = replace(selection, to_predict = "gestation")
select_mtgc = replace(selection, to_predict = "mtgc")

# First stage selection #

In [20]:
stage_one_lifespan = selection_pipeline.fit_transform((data, select_lifespan))
stage_one_lifespan

Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[15]	valid_0's l1: 8.95509	valid_0's l2: 189.944	valid_0's huber: 7.66501
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[138]	valid_0's l1: 3.65986	valid_0's l2: 70.135	valid_0's huber: 2.98298
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[77]	valid_0's l1: 4.57755	valid_0's l2: 31.7151	valid_0's huber: 3.74263
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[99]	valid_0's l1: 5.60866	valid_0's l2: 129.762	valid_0's huber: 4.7072
Training until validation scores don't improve for 10 rounds
[200]	valid_0's l1: 5.86207	valid_0's l2: 103.254	valid_0's huber: 4.92927
Did not meet early stopping. Best iteration is:
[200]	valid_0's l1: 5.86207	valid_0's l2: 103.254	valid_0's huber: 4.92927

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.

Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[186]	valid_0's l1: 4.53548	valid_0's l2: 78.8119	valid_0's huber: 3.78829
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[98]	valid_0's l1: 3.60277	valid_0's l2: 74.9152	valid_0's huber: 2.95564
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[85]	valid_0's l1: 3.01916	valid_0's l2: 31.7315	valid_0's huber: 2.44062
Training until validation scores don't improve for 10 rounds
[200]	valid_0's l1: 5.69179	valid_0's l2: 87.4646	valid_0's huber: 4.81568
Did not meet early stopping. Best iteration is:
[200]	valid_0's l1: 5.69179	valid_0's l2: 87.4646	valid_0's huber: 4.81568
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[129]	valid_0's l1: 3.38114	valid_0's l2: 39.5009	valid_0's huber: 2.77319

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.

Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[166]	valid_0's l1: 21.5694	valid_0's l2: 2027.76	valid_0's huber: 19.086
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[124]	valid_0's l1: 5.60692	valid_0's l2: 83.5029	valid_0's huber: 4.70877
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[103]	valid_0's l1: 2.8651	valid_0's l2: 24.2581	valid_0's huber: 2.25714
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[96]	valid_0's l1: 3.01419	valid_0's l2: 23.3583	valid_0's huber: 2.37319
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[7]	valid_0's l1: 10.193	valid_0's l2: 164.261	valid_0's huber: 8.78566

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.

Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[79]	valid_0's l1: 3.48594	valid_0's l2: 35.8019	valid_0's huber: 2.82972
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[144]	valid_0's l1: 3.92069	valid_0's l2: 39.7639	valid_0's huber: 3.21972
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[42]	valid_0's l1: 7.10758	valid_0's l2: 196.611	valid_0's huber: 6.05274
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[56]	valid_0's l1: 3.07037	valid_0's l2: 28.6139	valid_0's huber: 2.43764
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[23]	valid_0's l1: 6.66301	valid_0's l2: 102.957	valid_0's huber: 5.60608

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.

Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[189]	valid_0's l1: 2.28791	valid_0's l2: 14.2764	valid_0's huber: 1.76023
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[74]	valid_0's l1: 2.08904	valid_0's l2: 14.1152	valid_0's huber: 1.59454
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[33]	valid_0's l1: 6.15931	valid_0's l2: 118.042	valid_0's huber: 5.16358
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[57]	valid_0's l1: 6.68107	valid_0's l2: 96.0212	valid_0's huber: 5.66345
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[181]	valid_0's l1: 2.65449	valid_0's l2: 18.4261	valid_0's huber: 2.08742

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.

Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[15]	valid_0's l1: 9.13463	valid_0's l2: 199.097	valid_0's huber: 7.82101
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[111]	valid_0's l1: 2.35982	valid_0's l2: 22.0276	valid_0's huber: 1.83743
Training until validation scores don't improve for 10 rounds
[200]	valid_0's l1: 2.50547	valid_0's l2: 20.0338	valid_0's huber: 1.95365
Did not meet early stopping. Best iteration is:
[200]	valid_0's l1: 2.50547	valid_0's l2: 20.0338	valid_0's huber: 1.95365
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[122]	valid_0's l1: 2.75325	valid_0's l2: 18.6402	valid_0's huber: 2.15831
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[181]	valid_0's l1: 3.49998	valid_0's l2: 34.2893	valid_0's huber: 2.87314

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.

Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[105]	valid_0's l1: 2.78978	valid_0's l2: 26.0589	valid_0's huber: 2.20182
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[105]	valid_0's l1: 2.23637	valid_0's l2: 14.1022	valid_0's huber: 1.72104
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[48]	valid_0's l1: 8.65115	valid_0's l2: 172.823	valid_0's huber: 7.42385
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[97]	valid_0's l1: 3.53089	valid_0's l2: 34.107	valid_0's huber: 2.86342
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[84]	valid_0's l1: 2.30131	valid_0's l2: 12.9446	valid_0's huber: 1.75607

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.

Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[144]	valid_0's l1: 5.78265	valid_0's l2: 114.168	valid_0's huber: 4.87759
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[90]	valid_0's l1: 1.83769	valid_0's l2: 7.96125	valid_0's huber: 1.34201
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[76]	valid_0's l1: 2.66959	valid_0's l2: 17.3894	valid_0's huber: 2.07966
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[15]	valid_0's l1: 11.0221	valid_0's l2: 247.994	valid_0's huber: 9.51794
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[128]	valid_0's l1: 2.83211	valid_0's l2: 15.1987	valid_0's huber: 2.19695

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.

Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[36]	valid_0's l1: 8.23239	valid_0's l2: 214.728	valid_0's huber: 7.03237
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[86]	valid_0's l1: 1.77836	valid_0's l2: 13.3965	valid_0's huber: 1.33522
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[15]	valid_0's l1: 11.2635	valid_0's l2: 315.795	valid_0's huber: 9.73304
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[180]	valid_0's l1: 6.21307	valid_0's l2: 129.088	valid_0's huber: 5.27803
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[80]	valid_0's l1: 2.74116	valid_0's l2: 19.5057	valid_0's huber: 2.15102

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.

Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[118]	valid_0's l1: 2.69672	valid_0's l2: 24.7225	valid_0's huber: 2.14402
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[128]	valid_0's l1: 1.73385	valid_0's l2: 13.7157	valid_0's huber: 1.29137
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[124]	valid_0's l1: 2.70245	valid_0's l2: 17.2727	valid_0's huber: 2.10128
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[136]	valid_0's l1: 3.11295	valid_0's l2: 31.1112	valid_0's huber: 2.50236
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[33]	valid_0's l1: 5.24486	valid_0's l2: 82.1457	valid_0's huber: 4.34352

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.

[<table border='2'><caption><h3>Feature selection results</h3><caption><tr style='text-align:center'><th>selected</th><th>metrics</th></tr><tr><td><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>symbol</th>
       <th>gain_score_to_lifespan</th>
       <th>kendall_tau_to_lifespan</th>
     </tr>
     <tr>
       <th>ensembl_id</th>
       <th></th>
       <th></th>
       <th></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>ENSG00000276293</th>
       <td>PIP4K2B</td>
       <td>512897.728</td>
       <td>0.040</td>
     </tr>
     <tr>
       <th>ENSG00000083896</th>
       <td>YTHDC1</td>
       <td>192584.667</td>
       <td>0.179</td>
     </tr>
     <tr>
       <th>ENSG00000167515</th>
       <td>TRAPPC2L</td>
       <td>132820.645</td>
       <td>-0.220</td>
     </tr>
     <tr>
       <th>ENSG00000060762</th>
       <td>MPC1</td>
       <td>111991.538</td>
       <td>-0.308</td>
     </tr>
     <tr>
       <th>ENSG00000105672</th>
       <td>ETV2</td>
       <td>39996.305</td>
       <td>0.695</td>
     </tr>
     <tr>
       <th>ENSG00000142541</th>
       <td>RPL13A</td>
       <td>9135.891</td>
       <td>0.007</td>
     </tr>
     <tr>
       <th>ENSG00000065268</th>
       <td>WDR18</td>
       <td>3898.028</td>
       <td>-0.543</td>
     </tr>
     <tr>
       <th>ENSG00000101190</th>
       <td>TCFL5</td>
       <td>3801.633</td>
       <td>0.635</td>
     </tr>
     <tr>
       <th>ENSG00000066923</th>
       <td>STAG3</td>
       <td>2066.474</td>
       <td>0.516</td>
     </tr>
     <tr>
       <th>ENSG00000164879</th>
       <td>CA3</td>
       <td>1187.993</td>
       <td>-0.519</td>
     </tr>
     <tr>
       <th>ENSG00000171121</th>
       <td>KCNMB3</td>
       <td>463.055</td>
       <td>0.632</td>
     </tr>
     <tr>
       <th>ENSG00000118363</th>
       <td>SPCS2</td>
       <td>456.235</td>
       <td>0.221</td>
     </tr>
     <tr>
       <th>ENSG00000152705</th>
       <td>CATSPER3</td>
       <td>455.561</td>
       <td>0.555</td>
     </tr>
     <tr>
       <th>ENSG00000100764</th>
       <td>PSMC1</td>
       <td>251.336</td>
       <td>-0.660</td>
     </tr>
   </tbody>
 </table>
 </div></th><th><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>R^2</th>
       <th>MSE</th>
       <th>MAE</th>
       <th>validation_species</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>0</th>
       <td>0.549</td>
       <td>189.944</td>
       <td>8.955</td>
       <td>[Phascolarctos_cinereus, Mus_musculus]</td>
     </tr>
     <tr>
       <th>1</th>
       <td>0.912</td>
       <td>70.135</td>
       <td>3.660</td>
       <td>[Equus_caballus, Rhinolophus_ferrumequinum]</td>
     </tr>
     <tr>
       <th>2</th>
       <td>0.933</td>
       <td>31.715</td>
       <td>4.578</td>
       <td>[Rattus_norvegicus, Mesocricetus_auratus]</td>
     </tr>
     <tr>
       <th>3</th>
       <td>0.769</td>
       <td>129.762</td>
       <td>5.609</td>
       <td>[Meriones_unguiculatus, Tursiops_truncatus]</td>
     </tr>
     <tr>
       <th>4</th>
       <td>0.809</td>
       <td>103.254</td>
       <td>5.862</td>
       <td>[Tupaia_belangeri, Cavia_aperea]</td>
     </tr>
   </tbody>
 </table>
 </div></th></tr></table>,
 <table border='2'><caption><h3>Feature selection results</h3><caption><tr style='text-align:center'><th>selected</th><th>metrics</th></tr><tr><td><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>symbol</th>
       <th>gain_score_to_lifespan</th>
       <th>kendall_tau_to_lifespan</th>
     </tr>
     <tr>
       <th>ensembl_id</th>
       <th></th>
       <th></th>
       <th></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>ENSG00000276293</th>
       <td>PIP4K2B</td>
       <td>590255.085</td>
       <td>0.007</td>
     </tr>
     <tr>
       <th>ENSG00000083896</th>
       <td>YTHDC1</td>
       <td>263567.498</td>
       <td>0.165</td>
     </tr>
     <tr>
       <th>ENSG00000060762</th>
       <td>MPC1</td>
       <td>131514.405</td>
       <td>-0.349</td>
     </tr>
     <tr>
       <th>ENSG00000167515</th>
       <td>TRAPPC2L</td>
       <td>91362.823</td>
       <td>-0.279</td>
     </tr>
     <tr>
       <th>ENSG00000119616</th>
       <td>FCF1</td>
       <td>39439.753</td>
       <td>-0.295</td>
     </tr>
     <tr>
       <th>ENSG00000173567</th>
       <td>ADGRF3</td>
       <td>32865.557</td>
       <td>0.435</td>
     </tr>
     <tr>
       <th>ENSG00000105672</th>
       <td>ETV2</td>
       <td>25675.420</td>
       <td>0.672</td>
     </tr>
     <tr>
       <th>ENSG00000136436</th>
       <td>CALCOCO2</td>
       <td>15916.991</td>
       <td>0.679</td>
     </tr>
     <tr>
       <th>ENSG00000188763</th>
       <td>FZD9</td>
       <td>15048.773</td>
       <td>0.042</td>
     </tr>
     <tr>
       <th>ENSG00000129187</th>
       <td>DCTD</td>
       <td>14465.920</td>
       <td>0.692</td>
     </tr>
     <tr>
       <th>ENSG00000007933</th>
       <td>FMO3</td>
       <td>7132.036</td>
       <td>-0.185</td>
     </tr>
     <tr>
       <th>ENSG00000157343</th>
       <td>ARMC12</td>
       <td>6281.542</td>
       <td>0.637</td>
     </tr>
     <tr>
       <th>ENSG00000142541</th>
       <td>RPL13A</td>
       <td>4590.822</td>
       <td>-0.073</td>
     </tr>
     <tr>
       <th>ENSG00000188747</th>
       <td>NOXA1</td>
       <td>2710.024</td>
       <td>0.722</td>
     </tr>
     <tr>
       <th>ENSG00000143994</th>
       <td>ABHD1</td>
       <td>1959.037</td>
       <td>-0.708</td>
     </tr>
     <tr>
       <th>ENSG00000184898</th>
       <td>RBM43</td>
       <td>1895.014</td>
       <td>0.214</td>
     </tr>
     <tr>
       <th>ENSG00000165555</th>
       <td>NOXRED1</td>
       <td>1820.784</td>
       <td>0.688</td>
     </tr>
     <tr>
       <th>ENSG00000117151</th>
       <td>CTBS</td>
       <td>1752.577</td>
       <td>-0.501</td>
     </tr>
     <tr>
       <th>ENSG00000101166</th>
       <td>PRELID3B</td>
       <td>1326.020</td>
       <td>-0.458</td>
     </tr>
     <tr>
       <th>ENSG00000164879</th>
       <td>CA3</td>
       <td>1252.166</td>
       <td>-0.528</td>
     </tr>
     <tr>
       <th>ENSG00000148248</th>
       <td>SURF4</td>
       <td>1248.574</td>
       <td>-0.025</td>
     </tr>
     <tr>
       <th>ENSG00000122033</th>
       <td>MTIF3</td>
       <td>911.728</td>
       <td>0.387</td>
     </tr>
     <tr>
       <th>ENSG00000066923</th>
       <td>STAG3</td>
       <td>837.549</td>
       <td>0.398</td>
     </tr>
     <tr>
       <th>ENSG00000152705</th>
       <td>CATSPER3</td>
       <td>820.698</td>
       <td>0.650</td>
     </tr>
     <tr>
       <th>ENSG00000136897</th>
       <td>MRPL50</td>
       <td>745.665</td>
       <td>-0.477</td>
     </tr>
     <tr>
       <th>ENSG00000169972</th>
       <td>PUSL1</td>
       <td>475.883</td>
       <td>-0.479</td>
     </tr>
     <tr>
       <th>ENSG00000165568</th>
       <td>AKR1E2</td>
       <td>356.181</td>
       <td>-0.576</td>
     </tr>
     <tr>
       <th>ENSG00000105287</th>
       <td>PRKD2</td>
       <td>343.697</td>
       <td>0.296</td>
     </tr>
     <tr>
       <th>ENSG00000156521</th>
       <td>TYSND1</td>
       <td>302.247</td>
       <td>-0.028</td>
     </tr>
     <tr>
       <th>ENSG00000129988</th>
       <td>LBP</td>
       <td>286.028</td>
       <td>-0.584</td>
     </tr>
     <tr>
       <th>ENSG00000182853</th>
       <td>VMO1</td>
       <td>188.859</td>
       <td>0.448</td>
     </tr>
     <tr>
       <th>ENSG00000140025</th>
       <td>EFCAB11</td>
       <td>124.268</td>
       <td>0.568</td>
     </tr>
     <tr>
       <th>ENSG00000189043</th>
       <td>NDUFA4</td>
       <td>53.316</td>
       <td>0.271</td>
     </tr>
     <tr>
       <th>ENSG00000108064</th>
       <td>TFAM</td>
       <td>10.335</td>
       <td>-0.412</td>
     </tr>
     <tr>
       <th>ENSG00000167771</th>
       <td>RCOR2</td>
       <td>6.846</td>
       <td>-0.493</td>
     </tr>
     <tr>
       <th>ENSG00000089127</th>
       <td>OAS1</td>
       <td>3.450</td>
       <td>-0.351</td>
     </tr>
   </tbody>
 </table>
 </div></th><th><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>R^2</th>
       <th>MSE</th>
       <th>MAE</th>
       <th>validation_species</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>0</th>
       <td>0.875</td>
       <td>78.812</td>
       <td>4.535</td>
       <td>[Sus_scrofa, Gorilla_gorilla]</td>
     </tr>
     <tr>
       <th>1</th>
       <td>0.893</td>
       <td>74.915</td>
       <td>3.603</td>
       <td>[Pan_troglodytes, Bos_taurus]</td>
     </tr>
     <tr>
       <th>2</th>
       <td>0.956</td>
       <td>31.731</td>
       <td>3.019</td>
       <td>[Macaca_nemestrina, Canis_lupus_familiaris]</td>
     </tr>
     <tr>
       <th>3</th>
       <td>0.807</td>
       <td>87.465</td>
       <td>5.692</td>
       <td>[Rhinolophus_ferrumequinum, Monodelphis_domest...</td>
     </tr>
     <tr>
       <th>4</th>
       <td>0.931</td>
       <td>39.501</td>
       <td>3.381</td>
       <td>[Ursus_americanus, Ictidomys_tridecemlineatus]</td>
     </tr>
   </tbody>
 </table>
 </div></th></tr></table>,
 <table border='2'><caption><h3>Feature selection results</h3><caption><tr style='text-align:center'><th>selected</th><th>metrics</th></tr><tr><td><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>symbol</th>
       <th>gain_score_to_lifespan</th>
       <th>kendall_tau_to_lifespan</th>
     </tr>
     <tr>
       <th>ensembl_id</th>
       <th></th>
       <th></th>
       <th></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>ENSG00000167515</th>
       <td>TRAPPC2L</td>
       <td>129668.686</td>
       <td>-0.292</td>
     </tr>
     <tr>
       <th>ENSG00000060762</th>
       <td>MPC1</td>
       <td>127707.643</td>
       <td>-0.313</td>
     </tr>
     <tr>
       <th>ENSG00000105672</th>
       <td>ETV2</td>
       <td>35316.665</td>
       <td>0.685</td>
     </tr>
     <tr>
       <th>ENSG00000188763</th>
       <td>FZD9</td>
       <td>27301.975</td>
       <td>-0.005</td>
     </tr>
     <tr>
       <th>ENSG00000129187</th>
       <td>DCTD</td>
       <td>10820.332</td>
       <td>0.664</td>
     </tr>
     <tr>
       <th>ENSG00000142541</th>
       <td>RPL13A</td>
       <td>4832.287</td>
       <td>0.036</td>
     </tr>
     <tr>
       <th>ENSG00000142002</th>
       <td>DPP9</td>
       <td>4630.716</td>
       <td>-0.542</td>
     </tr>
     <tr>
       <th>ENSG00000165568</th>
       <td>AKR1E2</td>
       <td>1170.903</td>
       <td>-0.359</td>
     </tr>
     <tr>
       <th>ENSG00000156521</th>
       <td>TYSND1</td>
       <td>535.397</td>
       <td>0.097</td>
     </tr>
     <tr>
       <th>ENSG00000015520</th>
       <td>NPC1L1</td>
       <td>302.362</td>
       <td>0.119</td>
     </tr>
     <tr>
       <th>ENSG00000165555</th>
       <td>NOXRED1</td>
       <td>302.279</td>
       <td>0.734</td>
     </tr>
   </tbody>
 </table>
 </div></th><th><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>R^2</th>
       <th>MSE</th>
       <th>MAE</th>
       <th>validation_species</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>0</th>
       <td>-9.345</td>
       <td>2027.761</td>
       <td>21.569</td>
       <td>[Homo_sapiens, Mus_caroli]</td>
     </tr>
     <tr>
       <th>1</th>
       <td>0.531</td>
       <td>83.503</td>
       <td>5.607</td>
       <td>[Mus_musculus, Monodelphis_domestica]</td>
     </tr>
     <tr>
       <th>2</th>
       <td>0.924</td>
       <td>24.258</td>
       <td>2.865</td>
       <td>[Ailuropoda_melanoleuca, Pan_paniscus]</td>
     </tr>
     <tr>
       <th>3</th>
       <td>0.891</td>
       <td>23.358</td>
       <td>3.014</td>
       <td>[Ictidomys_tridecemlineatus, Sus_scrofa]</td>
     </tr>
     <tr>
       <th>4</th>
       <td>-0.493</td>
       <td>164.261</td>
       <td>10.193</td>
       <td>[Phascolarctos_cinereus, Felis_catus]</td>
     </tr>
   </tbody>
 </table>
 </div></th></tr></table>,
 <table border='2'><caption><h3>Feature selection results</h3><caption><tr style='text-align:center'><th>selected</th><th>metrics</th></tr><tr><td><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>symbol</th>
       <th>gain_score_to_lifespan</th>
       <th>kendall_tau_to_lifespan</th>
     </tr>
     <tr>
       <th>ensembl_id</th>
       <th></th>
       <th></th>
       <th></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>ENSG00000276293</th>
       <td>PIP4K2B</td>
       <td>590346.274</td>
       <td>0.047</td>
     </tr>
     <tr>
       <th>ENSG00000083896</th>
       <td>YTHDC1</td>
       <td>230455.733</td>
       <td>0.172</td>
     </tr>
     <tr>
       <th>ENSG00000167515</th>
       <td>TRAPPC2L</td>
       <td>133986.944</td>
       <td>-0.236</td>
     </tr>
     <tr>
       <th>ENSG00000060762</th>
       <td>MPC1</td>
       <td>109575.576</td>
       <td>-0.315</td>
     </tr>
     <tr>
       <th>ENSG00000105672</th>
       <td>ETV2</td>
       <td>39655.152</td>
       <td>0.696</td>
     </tr>
     <tr>
       <th>ENSG00000119616</th>
       <td>FCF1</td>
       <td>19019.885</td>
       <td>-0.220</td>
     </tr>
     <tr>
       <th>ENSG00000134489</th>
       <td>HRH4</td>
       <td>15687.439</td>
       <td>0.604</td>
     </tr>
     <tr>
       <th>ENSG00000157343</th>
       <td>ARMC12</td>
       <td>8731.685</td>
       <td>0.590</td>
     </tr>
     <tr>
       <th>ENSG00000142541</th>
       <td>RPL13A</td>
       <td>7449.272</td>
       <td>0.055</td>
     </tr>
     <tr>
       <th>ENSG00000136436</th>
       <td>CALCOCO2</td>
       <td>6854.902</td>
       <td>0.699</td>
     </tr>
     <tr>
       <th>ENSG00000142002</th>
       <td>DPP9</td>
       <td>4853.636</td>
       <td>-0.516</td>
     </tr>
     <tr>
       <th>ENSG00000173567</th>
       <td>ADGRF3</td>
       <td>1972.303</td>
       <td>0.438</td>
     </tr>
     <tr>
       <th>ENSG00000188747</th>
       <td>NOXA1</td>
       <td>1581.519</td>
       <td>0.735</td>
     </tr>
     <tr>
       <th>ENSG00000136942</th>
       <td>RPL35</td>
       <td>1306.546</td>
       <td>-0.481</td>
     </tr>
     <tr>
       <th>ENSG00000142694</th>
       <td>EVA1B</td>
       <td>145.542</td>
       <td>-0.270</td>
     </tr>
     <tr>
       <th>ENSG00000118363</th>
       <td>SPCS2</td>
       <td>92.706</td>
       <td>-0.377</td>
     </tr>
   </tbody>
 </table>
 </div></th><th><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>R^2</th>
       <th>MSE</th>
       <th>MAE</th>
       <th>validation_species</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>0</th>
       <td>0.940</td>
       <td>35.802</td>
       <td>3.486</td>
       <td>[Macaca_nemestrina, Cavia_porcellus]</td>
     </tr>
     <tr>
       <th>1</th>
       <td>0.935</td>
       <td>39.764</td>
       <td>3.921</td>
       <td>[Mesocricetus_auratus, Ictidomys_tridecemlinea...</td>
     </tr>
     <tr>
       <th>2</th>
       <td>0.695</td>
       <td>196.612</td>
       <td>7.108</td>
       <td>[Vombatus_ursinus, Tursiops_truncatus]</td>
     </tr>
     <tr>
       <th>3</th>
       <td>0.959</td>
       <td>28.614</td>
       <td>3.070</td>
       <td>[Pan_paniscus, Ursus_americanus]</td>
     </tr>
     <tr>
       <th>4</th>
       <td>0.751</td>
       <td>102.957</td>
       <td>6.663</td>
       <td>[Capra_hircus, Cavia_aperea]</td>
     </tr>
   </tbody>
 </table>
 </div></th></tr></table>,
 <table border='2'><caption><h3>Feature selection results</h3><caption><tr style='text-align:center'><th>selected</th><th>metrics</th></tr><tr><td><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>symbol</th>
       <th>gain_score_to_lifespan</th>
       <th>kendall_tau_to_lifespan</th>
     </tr>
     <tr>
       <th>ensembl_id</th>
       <th></th>
       <th></th>
       <th></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>ENSG00000276293</th>
       <td>PIP4K2B</td>
       <td>589154.592</td>
       <td>0.013</td>
     </tr>
     <tr>
       <th>ENSG00000083896</th>
       <td>YTHDC1</td>
       <td>231999.447</td>
       <td>0.146</td>
     </tr>
     <tr>
       <th>ENSG00000167515</th>
       <td>TRAPPC2L</td>
       <td>141851.120</td>
       <td>-0.284</td>
     </tr>
     <tr>
       <th>ENSG00000060762</th>
       <td>MPC1</td>
       <td>127785.303</td>
       <td>-0.333</td>
     </tr>
     <tr>
       <th>ENSG00000105672</th>
       <td>ETV2</td>
       <td>41535.562</td>
       <td>0.702</td>
     </tr>
     <tr>
       <th>ENSG00000188763</th>
       <td>FZD9</td>
       <td>36319.227</td>
       <td>0.035</td>
     </tr>
     <tr>
       <th>ENSG00000136436</th>
       <td>CALCOCO2</td>
       <td>17738.627</td>
       <td>0.601</td>
     </tr>
     <tr>
       <th>ENSG00000119616</th>
       <td>FCF1</td>
       <td>12806.109</td>
       <td>-0.315</td>
     </tr>
     <tr>
       <th>ENSG00000173567</th>
       <td>ADGRF3</td>
       <td>6126.740</td>
       <td>0.453</td>
     </tr>
     <tr>
       <th>ENSG00000010219</th>
       <td>DYRK4</td>
       <td>5540.503</td>
       <td>0.215</td>
     </tr>
     <tr>
       <th>ENSG00000142541</th>
       <td>RPL13A</td>
       <td>5267.750</td>
       <td>-0.003</td>
     </tr>
     <tr>

In [21]:
from yspecies.results import FeatureSummary
summary = FeatureSummary(stage_one_lifespan)
stage_one_lifespan[0]

<table border='2'><caption><h3>Feature selection results</h3><caption><tr style='text-align:center'><th>selected</th><th>metrics</th></tr><tr><td><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>symbol</th>
      <th>gain_score_to_lifespan</th>
      <th>kendall_tau_to_lifespan</th>
    </tr>
    <tr>
      <th>ensembl_id</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>ENSG00000276293</th>
      <td>PIP4K2B</td>
      <td>512897.728</td>
      <td>0.040</td>
    </tr>
    <tr>
      <th>ENSG00000083896</th>
      <td>YTHDC1</td>
      <td>192584.667</td>
      <td>0.179</td>
    </tr>
    <tr>
      <th>ENSG00000167515</th>
      <td>TRAPPC2L</td>
      <td>132820.645</td>
      <td>-0.220</td>
    </tr>
    <tr>
      <th>ENSG00000060762</th>
      <td>MPC1</td>
      <td>111991.538</td>
      <td>-0.308</td>
    </tr>
    <tr>
      <th>ENSG00000105672</th>
      <td>ETV2</td>
      <td>39996.305</td>
      <td>0.695</td>
    </tr>
    <tr>
      <th>ENSG00000142541</th>
      <td>RPL13A</td>
      <td>9135.891</td>
      <td>0.007</td>
    </tr>
    <tr>
      <th>ENSG00000065268</th>
      <td>WDR18</td>
      <td>3898.028</td>
      <td>-0.543</td>
    </tr>
    <tr>
      <th>ENSG00000101190</th>
      <td>TCFL5</td>
      <td>3801.633</td>
      <td>0.635</td>
    </tr>
    <tr>
      <th>ENSG00000066923</th>
      <td>STAG3</td>
      <td>2066.474</td>
      <td>0.516</td>
    </tr>
    <tr>
      <th>ENSG00000164879</th>
      <td>CA3</td>
      <td>1187.993</td>
      <td>-0.519</td>
    </tr>
    <tr>
      <th>ENSG00000171121</th>
      <td>KCNMB3</td>
      <td>463.055</td>
      <td>0.632</td>
    </tr>
    <tr>
      <th>ENSG00000118363</th>
      <td>SPCS2</td>
      <td>456.235</td>
      <td>0.221</td>
    </tr>
    <tr>
      <th>ENSG00000152705</th>
      <td>CATSPER3</td>
      <td>455.561</td>
      <td>0.555</td>
    </tr>
    <tr>
      <th>ENSG00000100764</th>
      <td>PSMC1</td>
      <td>251.336</td>
      <td>-0.660</td>
    </tr>
  </tbody>
</table>
</div></th><th><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>R^2</th>
      <th>MSE</th>
      <th>MAE</th>
      <th>validation_species</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.549</td>
      <td>189.944</td>
      <td>8.955</td>
      <td>[Phascolarctos_cinereus, Mus_musculus]</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.912</td>
      <td>70.135</td>
      <td>3.660</td>
      <td>[Equus_caballus, Rhinolophus_ferrumequinum]</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.933</td>
      <td>31.715</td>
      <td>4.578</td>
      <td>[Rattus_norvegicus, Mesocricetus_auratus]</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.769</td>
      <td>129.762</td>
      <td>5.609</td>
      <td>[Meriones_unguiculatus, Tursiops_truncatus]</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.809</td>
      <td>103.254</td>
      <td>5.862</td>
      <td>[Tupaia_belangeri, Cavia_aperea]</td>
    </tr>
  </tbody>
</table>
</div></th></tr></table>

In [22]:
summary.selected.sort_values("kendall_tau_0", ascending=False)["symbol"].values

AttributeError: 'DataFrame' object has no attribute 'selected'

In [73]:
"gain" if len([c for c in summary.results[0].selected.columns if "gain" in c])>0 else "shap"

'gain'