# SHAP feature selection #
## Code to select feature with combination of LightGBM and SHAP ##

## Parameters cell ##

Parameters are overiddent by papermill when run inside DVC stages

In [1]:
number_of_folds = 5 # this sets global setting of which how many bootstraps to use
repeats = 10
#first round of optimization
lgb_params = {"bagging_fraction": 0.9522534844058304, 
              "boosting_type": "dart", 
              "objective": "regression",
              "feature_fraction": 0.42236910941558053, 
              "lambda_l1": 0.020847266580277746, 
              "lambda_l2": 2.8448564854773326, 
              "learning_rate": 0.11484015430016059, 
              "max_depth": 3, 
              "max_leaves": 35, 
              "min_data_in_leaf": 9}
debug_local = True #to use local version

In [2]:
from pathlib import Path
import sys
import inspect

local = (Path("..") / "yspecies").resolve()
if debug_local and local.exists():
  sys.path.insert(0, Path("..").as_posix())
  #sys.path.insert(0, local.as_posix())
  print("extending pathes with local yspecies")
  print(sys.path)
  %load_ext autoreload
  %autoreload 2

extending pathes with local yspecies
['..', '/data/sources/yspecies/notebooks', '/opt/miniconda3/envs/yspecies/lib/python38.zip', '/opt/miniconda3/envs/yspecies/lib/python3.8', '/opt/miniconda3/envs/yspecies/lib/python3.8/lib-dynload', '', '/opt/miniconda3/envs/yspecies/lib/python3.8/site-packages', '/opt/miniconda3/envs/yspecies/lib/python3.8/site-packages/IPython/extensions', '/home/antonkulaga/.ipython']

In [3]:
from dataclasses import dataclass, replace
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
from typing import *
from yspecies.dataset import *
from yspecies.utils import *
from yspecies.workflow import TupleWith, Repeat
from yspecies.config import *
from yspecies.preprocess import FeatureSelection, DataExtractor
from yspecies.partition import DataPartitioner, PartitionParameters
from yspecies.models import Metrics
from yspecies.selection import ShapSelector

In [5]:
#settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
import pprint
pp = pprint.PrettyPrinter(indent=4)

#charts settings
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
%matplotlib auto
plt.ioff()
set_matplotlib_formats('svg')

Using matplotlib backend: TkAgg

### Loading data ###
Let's load data from species/genes/expressions selected by select_samples.py notebook

In [6]:
from pathlib import Path
locations: Locations = Locations("./") if Path("./data").exists() else Locations("../")

In [7]:
data = ExpressionDataset.from_folder(locations.interim.selected)
data

## Setting up SHAP selection pipeline ##

Deciding on selection parameters (which fields to include, exclude, predict)

In [8]:
partition_params = PartitionParameters(number_of_folds, 0, 2, [],  42)

In [9]:
partition_shap_pipe = Pipeline([
    ("partitioner", DataPartitioner()),
    ('prepare_for_partitioning', TupleWith(lgb_params)),
    ("shap_computation", ShapSelector())
]
)
repeated_cv =  Repeat(partition_shap_pipe, repeats, lambda x,i: (x[0], replace(x[1], seed = i)))

In [10]:
selection_pipeline =  Pipeline([
    ('extractor', DataExtractor()),
    ('prepare_for_partitioning', TupleWith(partition_params)), # to extract the data required for ML from the dataset
    ("partition_shap", repeated_cv)]
    )

## Setting up features to select ##

In [11]:
selection = select_lifespan = FeatureSelection(
    samples = ["tissue","species"], #samples metadata to include
    species =  [], #species metadata other then Y label to include
    exclude_from_training = ["species"],  #exclude some fields from LightGBM training
    to_predict = "lifespan", #column to predict
    categorical = ["tissue"])

In [12]:
select_lifespan = selection
select_mass = replace(selection, to_predict = "mass_g")
select_gestation = replace(selection, to_predict = "gestation")
select_mtgc = replace(selection, to_predict = "mtgc")

# First stage selection #

In [13]:
stage_one_lifespan = selection_pipeline.fit_transform((data, select_lifespan))
stage_one_lifespan

Early stopping is not available in dart mode

[200]	valid_0's l2: 38.7282
[200]	valid_0's l2: 14.7218
[200]	valid_0's l2: 2070.36
[200]	valid_0's l2: 38.694
[200]	valid_0's l2: 123.122

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Early stopping is not available in dart mode

[200]	valid_0's l2: 133.245
[200]	valid_0's l2: 24.8638
[200]	valid_0's l2: 43.6909
[200]	valid_0's l2: 17.2242
[200]	valid_0's l2: 30.18

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Early stopping is not available in dart mode

[200]	valid_0's l2: 74.5903
[200]	valid_0's l2: 40.6323
[200]	valid_0's l2: 91.9006
[200]	valid_0's l2: 19.6218
[200]	valid_0's l2: 28.4661

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Early stopping is not available in dart mode

[200]	valid_0's l2: 34.5766
[200]	valid_0's l2: 24.5847
[200]	valid_0's l2: 346.908
[200]	valid_0's l2: 68.882
[200]	valid_0's l2: 44.7918

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Early stopping is not available in dart mode

[200]	valid_0's l2: 39.3201
[200]	valid_0's l2: 33.3467
[200]	valid_0's l2: 24.3971
[200]	valid_0's l2: 17.3194
[200]	valid_0's l2: 26.1053

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Early stopping is not available in dart mode

[200]	valid_0's l2: 98.8111
[200]	valid_0's l2: 105.233
[200]	valid_0's l2: 112.67
[200]	valid_0's l2: 50.5708
[200]	valid_0's l2: 27.4933

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Early stopping is not available in dart mode

[200]	valid_0's l2: 30.1187
[200]	valid_0's l2: 125.535
[200]	valid_0's l2: 27.0113
[200]	valid_0's l2: 160.354
[200]	valid_0's l2: 106.749

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Early stopping is not available in dart mode

[200]	valid_0's l2: 55.5938
[200]	valid_0's l2: 25.682
[200]	valid_0's l2: 1607.2
[200]	valid_0's l2: 29.9963
[200]	valid_0's l2: 113.973

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Early stopping is not available in dart mode

[200]	valid_0's l2: 22.1786
[200]	valid_0's l2: 59.7035
[200]	valid_0's l2: 38.8822
[200]	valid_0's l2: 79.7684
[200]	valid_0's l2: 156.484

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Early stopping is not available in dart mode

[200]	valid_0's l2: 34.2988
[200]	valid_0's l2: 2058.34
[200]	valid_0's l2: 102.973
[200]	valid_0's l2: 27.8676
[200]	valid_0's l2: 22.3528

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.
Setting feature_perturbation = "tree_path_dependent" because no background data was given.

[<table border='2'><caption><h3>Feature selection results</h3><caption><tr style='text-align:center'><th>selected</th><th>metrics</th></tr><tr><td><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>symbol</th>
       <th>gain_score_to_lifespan</th>
       <th>kendall_tau_to_lifespan</th>
     </tr>
     <tr>
       <th>ensembl_id</th>
       <th></th>
       <th></th>
       <th></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>ENSG00000167515</th>
       <td>TRAPPC2L</td>
       <td>124386.632</td>
       <td>-0.237</td>
     </tr>
     <tr>
       <th>ENSG00000060762</th>
       <td>MPC1</td>
       <td>115967.760</td>
       <td>-0.443</td>
     </tr>
     <tr>
       <th>ENSG00000066923</th>
       <td>STAG3</td>
       <td>42371.166</td>
       <td>0.490</td>
     </tr>
     <tr>
       <th>ENSG00000136436</th>
       <td>CALCOCO2</td>
       <td>30505.962</td>
       <td>0.762</td>
     </tr>
     <tr>
       <th>ENSG00000105672</th>
       <td>ETV2</td>
       <td>30083.124</td>
       <td>0.711</td>
     </tr>
     <tr>
       <th>ENSG00000188763</th>
       <td>FZD9</td>
       <td>25725.001</td>
       <td>-0.209</td>
     </tr>
     <tr>
       <th>ENSG00000119616</th>
       <td>FCF1</td>
       <td>25614.721</td>
       <td>-0.225</td>
     </tr>
     <tr>
       <th>ENSG00000188747</th>
       <td>NOXA1</td>
       <td>20298.523</td>
       <td>0.740</td>
     </tr>
     <tr>
       <th>ENSG00000129988</th>
       <td>LBP</td>
       <td>18346.884</td>
       <td>-0.567</td>
     </tr>
     <tr>
       <th>ENSG00000170835</th>
       <td>CEL</td>
       <td>15777.882</td>
       <td>0.612</td>
     </tr>
     <tr>
       <th>ENSG00000142002</th>
       <td>DPP9</td>
       <td>9206.453</td>
       <td>-0.698</td>
     </tr>
     <tr>
       <th>ENSG00000171121</th>
       <td>KCNMB3</td>
       <td>9033.897</td>
       <td>0.638</td>
     </tr>
     <tr>
       <th>ENSG00000176894</th>
       <td>PXMP2</td>
       <td>8290.900</td>
       <td>-0.197</td>
     </tr>
     <tr>
       <th>ENSG00000173567</th>
       <td>ADGRF3</td>
       <td>6378.231</td>
       <td>0.716</td>
     </tr>
     <tr>
       <th>ENSG00000089053</th>
       <td>ANAPC5</td>
       <td>6031.108</td>
       <td>-0.610</td>
     </tr>
     <tr>
       <th>ENSG00000165501</th>
       <td>LRR1</td>
       <td>4597.261</td>
       <td>0.785</td>
     </tr>
     <tr>
       <th>ENSG00000143742</th>
       <td>SRP9</td>
       <td>4558.729</td>
       <td>0.693</td>
     </tr>
     <tr>
       <th>ENSG00000144451</th>
       <td>SPAG16</td>
       <td>4506.909</td>
       <td>0.560</td>
     </tr>
     <tr>
       <th>ENSG00000122034</th>
       <td>GTF3A</td>
       <td>2976.676</td>
       <td>0.505</td>
     </tr>
     <tr>
       <th>ENSG00000143994</th>
       <td>ABHD1</td>
       <td>2366.458</td>
       <td>-0.783</td>
     </tr>
     <tr>
       <th>ENSG00000169583</th>
       <td>CLIC3</td>
       <td>2365.941</td>
       <td>-0.599</td>
     </tr>
     <tr>
       <th>ENSG00000128739</th>
       <td>SNRPN</td>
       <td>2145.065</td>
       <td>-0.533</td>
     </tr>
     <tr>
       <th>ENSG00000144713</th>
       <td>RPL32</td>
       <td>1943.928</td>
       <td>-0.096</td>
     </tr>
     <tr>
       <th>ENSG00000165689</th>
       <td>ENTR1</td>
       <td>1905.874</td>
       <td>-0.721</td>
     </tr>
     <tr>
       <th>ENSG00000101190</th>
       <td>TCFL5</td>
       <td>1383.824</td>
       <td>0.731</td>
     </tr>
     <tr>
       <th>ENSG00000088992</th>
       <td>TESC</td>
       <td>655.047</td>
       <td>0.492</td>
     </tr>
     <tr>
       <th>ENSG00000198663</th>
       <td>C6orf89</td>
       <td>526.505</td>
       <td>-0.713</td>
     </tr>
   </tbody>
 </table>
 </div></th><th><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>R^2</th>
       <th>MSE</th>
       <th>MAE</th>
       <th>validation_species</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>0</th>
       <td>0.804</td>
       <td>38.728</td>
       <td>4.293</td>
       <td>[Suricata_suricatta, Heterocephalus_glaber]</td>
     </tr>
     <tr>
       <th>1</th>
       <td>0.930</td>
       <td>14.722</td>
       <td>2.993</td>
       <td>[Canis_lupus_familiaris, Microcebus_murinus]</td>
     </tr>
     <tr>
       <th>2</th>
       <td>-10.989</td>
       <td>2070.360</td>
       <td>23.301</td>
       <td>[Bos_taurus, Homo_sapiens]</td>
     </tr>
     <tr>
       <th>3</th>
       <td>0.791</td>
       <td>38.694</td>
       <td>4.721</td>
       <td>[Mus_caroli, Mus_musculus]</td>
     </tr>
     <tr>
       <th>4</th>
       <td>0.275</td>
       <td>123.122</td>
       <td>7.866</td>
       <td>[Monodelphis_domestica, Vombatus_ursinus]</td>
     </tr>
   </tbody>
 </table>
 </div></th></tr></table>,
 <table border='2'><caption><h3>Feature selection results</h3><caption><tr style='text-align:center'><th>selected</th><th>metrics</th></tr><tr><td><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>symbol</th>
       <th>gain_score_to_lifespan</th>
       <th>kendall_tau_to_lifespan</th>
     </tr>
     <tr>
       <th>ensembl_id</th>
       <th></th>
       <th></th>
       <th></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>ENSG00000276293</th>
       <td>PIP4K2B</td>
       <td>543844.983</td>
       <td>0.019</td>
     </tr>
     <tr>
       <th>ENSG00000083896</th>
       <td>YTHDC1</td>
       <td>310155.474</td>
       <td>0.162</td>
     </tr>
     <tr>
       <th>ENSG00000010219</th>
       <td>DYRK4</td>
       <td>139177.404</td>
       <td>0.356</td>
     </tr>
     <tr>
       <th>ENSG00000204590</th>
       <td>GNL1</td>
       <td>137952.967</td>
       <td>-0.210</td>
     </tr>
     <tr>
       <th>ENSG00000167515</th>
       <td>TRAPPC2L</td>
       <td>110730.029</td>
       <td>-0.226</td>
     </tr>
     <tr>
       <th>ENSG00000060762</th>
       <td>MPC1</td>
       <td>110126.600</td>
       <td>-0.420</td>
     </tr>
     <tr>
       <th>ENSG00000204498</th>
       <td>NFKBIL1</td>
       <td>72786.676</td>
       <td>-0.590</td>
     </tr>
     <tr>
       <th>ENSG00000066923</th>
       <td>STAG3</td>
       <td>66056.117</td>
       <td>0.533</td>
     </tr>
     <tr>
       <th>ENSG00000136436</th>
       <td>CALCOCO2</td>
       <td>37123.411</td>
       <td>0.745</td>
     </tr>
     <tr>
       <th>ENSG00000102265</th>
       <td>TIMP1</td>
       <td>30098.408</td>
       <td>0.531</td>
     </tr>
     <tr>
       <th>ENSG00000188763</th>
       <td>FZD9</td>
       <td>23928.978</td>
       <td>0.070</td>
     </tr>
     <tr>
       <th>ENSG00000188747</th>
       <td>NOXA1</td>
       <td>23557.425</td>
       <td>0.704</td>
     </tr>
     <tr>
       <th>ENSG00000184983</th>
       <td>NDUFA6</td>
       <td>23529.924</td>
       <td>-0.558</td>
     </tr>
     <tr>
       <th>ENSG00000119616</th>
       <td>FCF1</td>
       <td>23160.901</td>
       <td>-0.169</td>
     </tr>
     <tr>
       <th>ENSG00000105672</th>
       <td>ETV2</td>
       <td>21433.156</td>
       <td>0.713</td>
     </tr>
     <tr>
       <th>ENSG00000142973</th>
       <td>CYP4B1</td>
       <td>20937.054</td>
       <td>-0.451</td>
     </tr>
     <tr>
       <th>ENSG00000129988</th>
       <td>LBP</td>
       <td>19503.096</td>
       <td>-0.564</td>
     </tr>
     <tr>
       <th>ENSG00000170835</th>
       <td>CEL</td>
       <td>16973.957</td>
       <td>0.590</td>
     </tr>
     <tr>
       <th>ENSG00000144451</th>
       <td>SPAG16</td>
       <td>16930.233</td>
       <td>0.583</td>
     </tr>
     <tr>
       <th>ENSG00000148248</th>
       <td>SURF4</td>
       <td>10881.230</td>
       <td>-0.047</td>
     </tr>
     <tr>
       <th>ENSG00000142002</th>
       <td>DPP9</td>
       <td>9769.638</td>
       <td>-0.705</td>
     </tr>
     <tr>
       <th>ENSG00000173567</th>
       <td>ADGRF3</td>
       <td>7732.096</td>
       <td>0.529</td>
     </tr>
     <tr>
       <th>ENSG00000226979</th>
       <td>LTA</td>
       <td>6174.526</td>
       <td>0.278</td>
     </tr>
     <tr>
       <th>ENSG00000129187</th>
       <td>DCTD</td>
       <td>5495.750</td>
       <td>0.666</td>
     </tr>
     <tr>
       <th>ENSG00000134489</th>
       <td>HRH4</td>
       <td>5431.327</td>
       <td>0.695</td>
     </tr>
     <tr>
       <th>ENSG00000117151</th>
       <td>CTBS</td>
       <td>4948.978</td>
       <td>-0.496</td>
     </tr>
     <tr>
       <th>ENSG00000152705</th>
       <td>CATSPER3</td>
       <td>4695.794</td>
       <td>0.589</td>
     </tr>
     <tr>
       <th>ENSG00000165501</th>
       <td>LRR1</td>
       <td>4257.632</td>
       <td>0.769</td>
     </tr>
     <tr>
       <th>ENSG00000122034</th>
       <td>GTF3A</td>
       <td>3205.326</td>
       <td>0.584</td>
     </tr>
     <tr>
       <th>ENSG00000066926</th>
       <td>FECH</td>
       <td>2797.172</td>
       <td>-0.446</td>
     </tr>
     <tr>
       <th>ENSG00000170222</th>
       <td>ADPRM</td>
       <td>1563.332</td>
       <td>-0.637</td>
     </tr>
     <tr>
       <th>ENSG00000122033</th>
       <td>MTIF3</td>
       <td>1535.853</td>
       <td>0.451</td>
     </tr>
     <tr>
       <th>ENSG00000088992</th>
       <td>TESC</td>
       <td>920.576</td>
       <td>0.523</td>
     </tr>
     <tr>
       <th>ENSG00000140398</th>
       <td>NEIL1</td>
       <td>669.281</td>
       <td>0.491</td>
     </tr>
     <tr>
       <th>ENSG00000096060</th>
       <td>FKBP5</td>
       <td>625.001</td>
       <td>0.488</td>
     </tr>
     <tr>
       <th>ENSG00000196230</th>
       <td>TUBB</td>
       <td>92.341</td>
       <td>0.192</td>
     </tr>
   </tbody>
 </table>
 </div></th><th><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>R^2</th>
       <th>MSE</th>
       <th>MAE</th>
       <th>validation_species</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>0</th>
       <td>0.720</td>
       <td>133.245</td>
       <td>8.143</td>
       <td>[Macaca_mulatta, Monodelphis_domestica]</td>
     </tr>
     <tr>
       <th>1</th>
       <td>0.958</td>
       <td>24.864</td>
       <td>3.374</td>
       <td>[Sus_scrofa, Ailuropoda_melanoleuca]</td>
     </tr>
     <tr>
       <th>2</th>
       <td>0.934</td>
       <td>43.691</td>
       <td>4.149</td>
       <td>[Mus_spicilegus, Tupaia_belangeri]</td>
     </tr>
     <tr>
       <th>3</th>
       <td>0.967</td>
       <td>17.224</td>
       <td>2.729</td>
       <td>[Ovis_aries, Canis_lupus_familiaris]</td>
     </tr>
     <tr>
       <th>4</th>
       <td>0.940</td>
       <td>30.180</td>
       <td>3.735</td>
       <td>[Otolemur_garnettii, Heterocephalus_glaber]</td>
     </tr>
   </tbody>
 </table>
 </div></th></tr></table>,
 <table border='2'><caption><h3>Feature selection results</h3><caption><tr style='text-align:center'><th>selected</th><th>metrics</th></tr><tr><td><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>symbol</th>
       <th>gain_score_to_lifespan</th>
       <th>kendall_tau_to_lifespan</th>
     </tr>
     <tr>
       <th>ensembl_id</th>
       <th></th>
       <th></th>
       <th></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>ENSG00000276293</th>
       <td>PIP4K2B</td>
       <td>533644.070</td>
       <td>-0.002</td>
     </tr>
     <tr>
       <th>ENSG00000083896</th>
       <td>YTHDC1</td>
       <td>306895.246</td>
       <td>0.187</td>
     </tr>
     <tr>
       <th>ENSG00000010219</th>
       <td>DYRK4</td>
       <td>152225.425</td>
       <td>0.288</td>
     </tr>
     <tr>
       <th>ENSG00000204590</th>
       <td>GNL1</td>
       <td>135597.664</td>
       <td>-0.021</td>
     </tr>
     <tr>
       <th>ENSG00000060762</th>
       <td>MPC1</td>
       <td>116085.003</td>
       <td>-0.401</td>
     </tr>
     <tr>
       <th>ENSG00000167515</th>
       <td>TRAPPC2L</td>
       <td>113108.965</td>
       <td>-0.149</td>
     </tr>
     <tr>
       <th>ENSG00000204498</th>
       <td>NFKBIL1</td>
       <td>75163.163</td>
       <td>-0.453</td>
     </tr>
     <tr>
       <th>ENSG00000066923</th>
       <td>STAG3</td>
       <td>67962.652</td>
       <td>0.473</td>
     </tr>
     <tr>
       <th>ENSG00000102265</th>
       <td>TIMP1</td>
       <td>29798.386</td>
       <td>0.540</td>
     </tr>
     <tr>
       <th>ENSG00000164879</th>
       <td>CA3</td>
       <td>26439.911</td>
       <td>-0.529</td>
     </tr>
     <tr>
       <th>ENSG00000136436</th>
       <td>CALCOCO2</td>
       <td>26084.549</td>
       <td>0.702</td>
     </tr>
     <tr>
       <th>ENSG00000188747</th>
       <td>NOXA1</td>
       <td>25706.985</td>
       <td>0.712</td>
     </tr>
     <tr>
       <th>ENSG00000105672</th>
       <td>ETV2</td>
       <td>25014.257</td>
       <td>0.701</td>
     </tr>
     <tr>
       <th>ENSG00000129988</th>
       <td>LBP</td>
       <td>21620.156</td>
       <td>-0.538</td>
     </tr>
     <tr>
       <th>ENSG00000144451</th>
       <td>SPAG16</td>
       <td>20684.557</td>
       <td>0.586</td>
     </tr>
     <tr>
       <th>ENSG00000171121</th>
       <td>KCNMB3</td>
       <td>12348.267</td>
       <td>0.657</td>
     </tr>
     <tr>
       <th>ENSG00000134489</th>
       <td>HRH4</td>
       <td>12297.880</td>
       <td>0.690</td>
     </tr>
     <tr>
       <th>ENSG00000148248</th>
       <td>SURF4</td>
       <td>12199.971</td>
       <td>0.042</td>
     </tr>
     <tr>
       <th>ENSG00000142002</th>
       <td>DPP9</td>
       <td>11153.064</td>
       <td>-0.727</td>
     </tr>
     <tr>
       <th>ENSG00000226979</th>
       <td>LTA</td>
       <td>10298.574</td>
       <td>0.117</td>
     </tr>
     <tr>
       <th>ENSG00000184985</th>
       <td>SORCS2</td>
       <td>9601.311</td>
       <td>-0.344</td>
     </tr>
     <tr>
       <th>ENSG00000157343</th>
       <td>ARMC12</td>
       <td>8335.990</td>
       <td>0.665</td>
     </tr>
     <tr>
       <th>ENSG00000065268</th>
       <td>WDR18</td>
       <td>8272.582</td>
       <td>-0.786</td>
     </tr>
     <tr>
       <th>ENSG00000173567</th>
       <td>ADGRF3</td>
       <td>7886.469</td>
       <td>0.509</td>
     </tr>
     <tr>
       <th>ENSG00000122952</th>
       <td>ZWINT</td>
       <td>7662.168</td>
       <td>-0.630</td>
     </tr>
     <tr>
       <th>ENSG00000122034</th>
       <td>GTF3A</td>
       <td>6228.558</td>
       <td>0.604</td>
     </tr>
     <tr>
       <th>ENSG00000117151</th>
       <td>CTBS</td>
       <td>5644.149</td>
       <td>-0.507</td>
     </tr>
     <tr>
       <th>ENSG00000169972</th>
       <td>PUSL1</td>
       <td>5185.963</td>
       <td>-0.566</td>
     </tr>
     <tr>
       <th>ENSG00000135845</th>
       <td>PIGC</td>
       <td>5101.263</td>
       <td>0.345</td>
     </tr>
     <tr>
       <th>ENSG00000089053</th>
       <td>ANAPC5</td>
       <td>4087.082</td>
       <td>-0.619</td>
     </tr>
     <tr>
       <th>ENSG00000066926</th>
       <td>FECH</td>
       <td>3796.937</td>
       <td>-0.488</td>
     </tr>
     <tr>
       <th>ENSG00000129187</th>
       <td>DCTD</td>
       <td>3532.673</td>
       <td>0.711</td>
     </tr>
     <tr>
       <th>ENSG00000152705</th>
       <td>CATSPER3</td>
       <td>2344.164</td>
       <td>0.698</td>
     </tr>
     <tr>
       <th>ENSG00000069869</th>
       <td>NEDD4</td>
       <td>1523.314</td>
       <td>-0.460</td>
     </tr>
     <tr>
       <th>ENSG00000108786</th>
       <td>HSD17B1</td>
       <td>1512.794</td>
       <td>0.627</td>
     </tr>
     <tr>
       <th>ENSG00000143994</th>
       <td>ABHD1</td>
       <td>1060.139</td>
       <td>-0.756</td>
     </tr>
     <tr>
       <th>ENSG00000157045</th>
       <td>NTAN1</td>
       <td>970.098</td>
       <td>-0.526</td>
     </tr>
     <tr>
       <th>ENSG00000104863</th>
       <td>LIN7B</td>
       <td>851.978</td>
       <td>0.357</td>
     </tr>
     <tr>
       <th>ENSG00000142937</th>
       <td>RPS8</td>
       <td>698.634</td>
       <td>0.604</td>
     </tr>
     <tr>
       <th>ENSG00000088992</th>
       <td>TESC</td>
       <td>592.112</td>
       <td>0.592</td>
     </tr>
   </tbody>
 </table>
 </div></th><th><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>R^2</th>
       <th>MSE</th>
       <th>MAE</th>
       <th>validation_species</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>0</th>
       <td>0.883</td>
       <td>74.590</td>
       <td>4.819</td>
       <td>[Suricata_suricatta, Pan_troglodytes]</td>
     </tr>
     <tr>
       <th>1</th>
       <td>0.930</td>
       <td>40.632</td>
       <td>4.373</td>
       <td>[Heterocephalus_glaber, Ursus_americanus]</td>
     </tr>
     <tr>
       <th>2</th>
       <td>0.808</td>
       <td>91.901</td>
       <td>5.300</td>
       <td>[Mus_musculus, Tursiops_truncatus]</td>
     </tr>
     <tr>
       <th>3</th>
       <td>0.957</td>
       <td>19.622</td>
       <td>3.444</td>
       <td>[Mus_spicilegus, Cavia_porcellus]</td>
     </tr>
     <tr>
       <th>4</th>
       <td>0.942</td>
       <td>28.466</td>
       <td>3.420</td>
       <td>[Macaca_fascicularis, Capra_hircus]</td>
     </tr>
   </tbody>
 </table>
 </div></th></tr></table>,
 <table border='2'><caption><h3>Feature selection results</h3><caption><tr style='text-align:center'><th>selected</th><th>metrics</th></tr><tr><td><div>
 <style scoped>
     .dataframe tbody tr th:only-of-type {
         vertical-align: middle;
     }

     .dataframe tbody tr th {
         vertical-align: top;
     }

     .dataframe thead th {
         text-align: right;
     }
 </style>
 <table border="1" class="dataframe">
   <thead>
     <tr style="text-align: right;">
       <th></th>
       <th>symbol</th>
       <th>gain_score_to_lifespan</th>
       <th>kendall_tau_to_lifespan</th>
     </tr>
     <tr>
       <th>ensembl_id</th>
       <th></th>
       <th></th>
       <th></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>ENSG00000276293</th>
       <td>PIP4K2B</td>
       <td>511275.664</td>
       <td>0.032</td>
     </tr>
     <tr>
       <th>ENSG00000083896</th>
       <td>YTHDC1</td>
       <td>272817.102</td>
       <td>0.126</td>
     </tr>
     <tr>
       <th>ENSG00000010219</th>

In [75]:
from yspecies.results import FeatureSummary
summary = FeatureSummary(stage_one_lifespan)
stage_one_lifespan[0]

<table border='2'><caption><h3>Feature selection results</h3><caption><tr style='text-align:center'><th>selected</th><th>metrics</th></tr><tr><td><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>symbol</th>
      <th>gain_score_to_lifespan</th>
      <th>kendall_tau_to_lifespan</th>
    </tr>
    <tr>
      <th>ensembl_id</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>ENSG00000276293</th>
      <td>PIP4K2B</td>
      <td>478450.068</td>
      <td>0.048</td>
    </tr>
    <tr>
      <th>ENSG00000083896</th>
      <td>YTHDC1</td>
      <td>263331.356</td>
      <td>0.079</td>
    </tr>
    <tr>
      <th>ENSG00000010219</th>
      <td>DYRK4</td>
      <td>188286.492</td>
      <td>0.246</td>
    </tr>
    <tr>
      <th>ENSG00000167515</th>
      <td>TRAPPC2L</td>
      <td>126939.943</td>
      <td>-0.233</td>
    </tr>
    <tr>
      <th>ENSG00000060762</th>
      <td>MPC1</td>
      <td>121102.080</td>
      <td>-0.438</td>
    </tr>
    <tr>
      <th>ENSG00000204590</th>
      <td>GNL1</td>
      <td>111555.248</td>
      <td>-0.032</td>
    </tr>
    <tr>
      <th>ENSG00000066923</th>
      <td>STAG3</td>
      <td>91786.359</td>
      <td>0.489</td>
    </tr>
    <tr>
      <th>ENSG00000204498</th>
      <td>NFKBIL1</td>
      <td>91750.480</td>
      <td>-0.311</td>
    </tr>
    <tr>
      <th>ENSG00000148248</th>
      <td>SURF4</td>
      <td>84496.348</td>
      <td>-0.037</td>
    </tr>
    <tr>
      <th>ENSG00000136436</th>
      <td>CALCOCO2</td>
      <td>29367.246</td>
      <td>0.757</td>
    </tr>
    <tr>
      <th>ENSG00000105672</th>
      <td>ETV2</td>
      <td>28524.260</td>
      <td>0.698</td>
    </tr>
    <tr>
      <th>ENSG00000188747</th>
      <td>NOXA1</td>
      <td>21349.208</td>
      <td>0.705</td>
    </tr>
    <tr>
      <th>ENSG00000164879</th>
      <td>CA3</td>
      <td>20272.084</td>
      <td>-0.505</td>
    </tr>
    <tr>
      <th>ENSG00000184983</th>
      <td>NDUFA6</td>
      <td>16096.294</td>
      <td>-0.563</td>
    </tr>
    <tr>
      <th>ENSG00000129988</th>
      <td>LBP</td>
      <td>14307.624</td>
      <td>-0.563</td>
    </tr>
    <tr>
      <th>ENSG00000170835</th>
      <td>CEL</td>
      <td>10981.792</td>
      <td>0.675</td>
    </tr>
    <tr>
      <th>ENSG00000157343</th>
      <td>ARMC12</td>
      <td>9844.675</td>
      <td>0.692</td>
    </tr>
    <tr>
      <th>ENSG00000065268</th>
      <td>WDR18</td>
      <td>9520.684</td>
      <td>-0.789</td>
    </tr>
    <tr>
      <th>ENSG00000142002</th>
      <td>DPP9</td>
      <td>9508.972</td>
      <td>-0.712</td>
    </tr>
    <tr>
      <th>ENSG00000184985</th>
      <td>SORCS2</td>
      <td>8635.959</td>
      <td>-0.401</td>
    </tr>
    <tr>
      <th>ENSG00000171121</th>
      <td>KCNMB3</td>
      <td>8605.678</td>
      <td>0.638</td>
    </tr>
    <tr>
      <th>ENSG00000129187</th>
      <td>DCTD</td>
      <td>8143.963</td>
      <td>0.683</td>
    </tr>
    <tr>
      <th>ENSG00000122952</th>
      <td>ZWINT</td>
      <td>7606.769</td>
      <td>-0.653</td>
    </tr>
    <tr>
      <th>ENSG00000144451</th>
      <td>SPAG16</td>
      <td>7404.543</td>
      <td>0.544</td>
    </tr>
    <tr>
      <th>ENSG00000089053</th>
      <td>ANAPC5</td>
      <td>5370.228</td>
      <td>-0.606</td>
    </tr>
    <tr>
      <th>ENSG00000105993</th>
      <td>DNAJB6</td>
      <td>4856.146</td>
      <td>0.329</td>
    </tr>
    <tr>
      <th>ENSG00000152705</th>
      <td>CATSPER3</td>
      <td>3940.447</td>
      <td>0.601</td>
    </tr>
    <tr>
      <th>ENSG00000135845</th>
      <td>PIGC</td>
      <td>2892.276</td>
      <td>0.350</td>
    </tr>
    <tr>
      <th>ENSG00000169972</th>
      <td>PUSL1</td>
      <td>2889.864</td>
      <td>-0.578</td>
    </tr>
    <tr>
      <th>ENSG00000101928</th>
      <td>MOSPD1</td>
      <td>2550.172</td>
      <td>-0.618</td>
    </tr>
    <tr>
      <th>ENSG00000108786</th>
      <td>HSD17B1</td>
      <td>2528.867</td>
      <td>0.626</td>
    </tr>
    <tr>
      <th>ENSG00000170222</th>
      <td>ADPRM</td>
      <td>1715.733</td>
      <td>-0.504</td>
    </tr>
    <tr>
      <th>ENSG00000165568</th>
      <td>AKR1E2</td>
      <td>987.855</td>
      <td>-0.529</td>
    </tr>
    <tr>
      <th>ENSG00000104863</th>
      <td>LIN7B</td>
      <td>760.976</td>
      <td>0.494</td>
    </tr>
    <tr>
      <th>ENSG00000142937</th>
      <td>RPS8</td>
      <td>518.830</td>
      <td>0.608</td>
    </tr>
  </tbody>
</table>
</div></th><th><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>R^2</th>
      <th>MSE</th>
      <th>MAE</th>
      <th>validation_species</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.939</td>
      <td>30.702</td>
      <td>4.064</td>
      <td>[Mus_musculus, Ursus_americanus]</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.932</td>
      <td>35.558</td>
      <td>3.992</td>
      <td>[Heterocephalus_glaber, Sus_scrofa]</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.819</td>
      <td>101.797</td>
      <td>5.663</td>
      <td>[Meriones_unguiculatus, Tursiops_truncatus]</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.677</td>
      <td>178.658</td>
      <td>7.174</td>
      <td>[Pan_troglodytes, Oryctolagus_cuniculus]</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.914</td>
      <td>45.934</td>
      <td>3.744</td>
      <td>[Aotus_nancymaae, Equus_caballus]</td>
    </tr>
  </tbody>
</table>
</div></th></tr></table>

In [15]:
summary.selected.sort_values("kendall_tau_0", ascending=False)["symbol"].values

array(['CALCOCO2', 'MPG', 'NOXA1', 'ETV2', 'CEL', 'ARMC12', 'HRH4',
       'DCTD', 'KCNMB3', 'ADGRF3', 'TIMP1', 'TSPAN10', 'STAG3', 'GUCY2C',
       'DNAJB6', 'LIN7B', 'TRAPPC2L', 'MPC1', 'CTBS', 'CA3', 'NDUFA6',
       'LBP', 'PUSL1', 'MPC2', 'SNRPN', 'ADPRM', 'DPP9', 'WDR18'],
      dtype=object)

In [73]:
"gain" if len([c for c in summary.results[0].selected.columns if "gain" in c])>0 else "shap"

'gain'